
/**/


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.each-slide-effect>div {
  display: flex;
  border-radius: 10px 10px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 1000px;
  text-align: center;
}

.each-slide-effect a {
  font-size: 20px;
  text-align: center;
  width: 50%;

  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  backface-visibility: hidden;
  display: block;
}

ol{
  padding-left: 30px;

}

li{
  padding-right: 4%;
  font-family: 'Consolas';
  color: #535353;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #2c2c2c;
}

.cursor{
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skills {
  background-color: #0F2557;
  font-weight: 550;
  border-radius: 5px 5px;
  padding: 10px;
  opacity: 0.9;
  color: #ffffff;
}

.profile{
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px 10px;
}

.mainHeader{
  color:   #61c2ec;
  font-weight: 550;
  margin-top: 20px;
  font-size: 600%;
}

.gallery{
  font-weight: 600;
  font-size: 200%;
}
.galleryClick{
  opacity: 1;
}

.arrow {
  width: 100px;
}

/*
For mobile
*/
@media (max-width: 992px) {
  .profile{
    margin-top: 0px;
    margin-bottom: 11px;
    width: 150px;
  }
  .mainHeader{
    font-weight: 550;
    font-size: 450%;
  }
  .arrow {
    width: 90px;
    opacity: 0.6;
  }
  .gallery{
    font-weight: 600;
    font-size: 150%;
  }
  .skills {
    background-color: #0F2557;
    font-weight: 400;
    padding: 2px;
    font-size: 25px;
  }
} 
