/**/
.container{
  overflow-x: hidden;
  overflow-y: hidden;
}


.container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url('../components/Elements/Slide/photos/misc/Collage.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.title{
  font-size: 1.0rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.containerFluid {
  display:flex;
	clear: both;
  flex-wrap: wrap;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0;
}
.each-slide-effect>div {
  display: flex;
  border-radius: 10px 10px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 1000px;
  text-align: center;
}

.each-slide-effect a {
  font-size: 20px;
  text-align: center;
  width: 50%;

  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  backface-visibility: hidden;
  display: block;
}

ol{
  padding-left: 30px;

}

li{
  padding-right: 4%;
  font-family: 'Consolas';
  color: #535353;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #2c2c2c;
}

.cursor{
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 6s linear;
  }

  .javaIcon{
    animation: App-logo-spin 1 4s alternate;
  }
  
  .pythonIcon{
    animation: App-logo-spin 2 3s backwards;
  }
  
  .jsonIcon{
    animation: App-logo-spin 1 6s alternate-reverse;
  }
  
  .cppIcon{
    animation: App-logo-move 19 0.3s alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-move {

  from {
    transform: translateY(1rem); 
  }
  to {
    transform: translateY(-1rem);
    
  }

}

.skills {
  font-weight: 550;
  border-radius: 5px 5px;
  padding: 10px;
  opacity: 0.9;
  color: #ffffff;
}

.mainHeader{
 
  color:   #61c2ec;
  font-weight: 550;
  font-size: 600%;
}

.skills{
  font-weight: 600;
  font-size: 200%;
  margin-bottom: 1rem;
}
.gallery{
  font-weight: 600;
  font-size: 200%;
  margin-top: 15rem;
  margin-bottom: 4rem;
}
.galleryClick{
  width: 15rem;
  height: 15rem;
  opacity: 1;
}

.arrow {
  width: 100px;
  color: #e9dcdc;
  padding-bottom: 15rem;
}

.javaIcon{
  width: 6rem;
}

.pythonIcon{
  width: 6rem;
}

.jsonIcon{
  width: 5.7rem;
}

.cppIcon{
  width: 5rem;
}

.Applogo{
  width: 8.5rem;
}

.rocketryIcon{
  width: 18rem;
}

.uwaterlooIcon{
  width: 13rem;
  padding-bottom: 1rem;
}

.goodlabsIcon{
  width: 13rem;
}

.frcIcon{
  width: 13rem;
  padding-top: 2rem;
}

/*
For mobile
*/
@media (max-width: 1200px) {
  .title{
    font-size: 1rem;
  }
  .profile{
    margin-top: 0px;
    margin-bottom: 11px;
    width: 150px;
  }
  .mainHeader{
    font-weight: 550;
    font-size: 450%;
  }
  .arrow {
    width: 90px;
    opacity: 0.6;
  }
  .gallery{
    font-weight: 600;
    font-size: 150%;
  }
  .skills {
    font-weight: 400;
    padding: 2px;
    font-size: 25px;
  }
  .skillText{
    margin-top: 0rem;
    
  }
  .Applogo {
    animation: App-logo-spin none;
  }

  .javaIcon{
    animation: App-logo-spin none;
  }
  
  .pythonIcon{
    animation: App-logo-spin none;
  }
  
  .jsonIcon{
    animation: App-logo-spin none;
  }
  
  .cppIcon{
    animation: App-logo-move none;
  }
} 

@media (max-width: 768px) {
  .container::before{
    top: 3.5rem;
  }
  .rocketryIcon{
    width: 17rem;
  }
  .goodlabsIcon{
    width: 12rem;
  }
  .frcIcon{
    padding-top: 1rem;
  }
  .mainHeader{
    font-weight: 550;
    font-size: 300%;
  }
}

@media (max-width: 576px) {
  .title{
    font-size: smaller;
  }
  .skillText{
    margin-top: 0rem;
    
  }
  .javaIcon{
    width: 5.5rem;
  }

  .pythonIcon{
    width: 5.0rem;
  }
  
  .jsonIcon{
    width: 5rem;
  }
  
  .cppIcon{
    width: 4.8rem;
  }
  
  .Applogo{
    width: 8rem;
  }

  .rocketryIcon{
    width: 9rem;
  }
  
  .uwaterlooIcon{
    margin-top: 0.5rem;
    width: 6rem;
  }
  
  .frcIcon{
    width: 8rem;
  }
  .goodlabsIcon{
    width: 6rem;
  }
  
}