.title{
  color:  #a7a7a7;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 120%;
  text-decoration: none;
  transition: 250ms;
}
.title:hover{
  transition: 250ms;
  color: aliceblue;}

.navSocial{
  width: 35px;
}
.navSocialGmail{
  width: 35px;
  padding-top: 9px;
}

@media (max-width: 800px) {
  .title{
    font-size: 1.2rem;
    padding-right: 0.2rem;
    margin-right: 0px;
    
  }
  .title:hover{
    font-size: 97%;
  }

  .navSocial{
    width: 28px;
  }
  .navSocialGmail{
    width: 28px;
    padding-top: 8px;
  }

}
.parallax{
  background-image: '../components/Elements/Slide/photos/misc/IMG_6832.jpeg';
}

