.body {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(0deg, #067a29 0%, #2626ff 35%, rgba(0, 212, 255, 1) 100%);
}

.button {
    display: flex;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 100%;
    width: 100%;
    background-color: #000000;
    padding: 10%;
    margin: auto;
    transition-duration: 500ms;
    
}

.text {
    margin: auto;
    padding-top: 0rem;
    font-size: 300%;
}

.border{
    align-items: center;
    display: flex;
    padding: 5px;
}
.button:hover {
    font-size: 110%;
    transition-duration: 500ms;

}
