.body {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

.button {
    display: flex;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    background-color: #1e1e1e;
    padding: 10%;
    margin: auto;
    
}

.text {
    margin: auto;
    font-size: 150%;
}

.border{
    align-items: center;
    display: flex;
    padding: 5px;
}
.button:hover {
    background: rgb(36, 36, 36);

}