.body {
    display: block;
    position: relative;
    min-width: 15rem;
    max-width: 28rem;
    min-height: 21rem;
    max-height: 25rem;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    transition-duration: 500ms;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.button {
    display: flexbox;
    position: absolute;
    color: white;
    border-radius: 10px;
    padding: 0.9rem;
    text-decoration: none;
    width: 100%;
    height: fit-content;
    font-size: x-small;
    background-color: #000000;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition-duration: 500ms;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    .button {
        max-width:25rem;
    }

}

@media (max-width: 768px) {
    .button {
        max-width:18rem;
    }

}

.text {
    margin: auto;
    font-size: larger;
    position: absolute;
    height: max-content;
    width: max-content;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    margin-left:auto;
    margin-right:auto;
}

.border{
    align-items: center;
    display: flex;
    padding: 5px;
}
.button:hover {
    transition-duration: 500ms;
    background-color: #242424;

}
