.skillbox{
    display: block;
}

.img{
    width: 90px;
}

.h1{
    font-family: Cascadia Code;
    font-weight: 400;
}

.h2{
    font-size: 500%;
    color: #EEFBFB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 992px) {
.h2{
    font-size: 200%;
}
}

